.earth-globe-wrapper {
  z-index: 10;
  margin: 0 auto;
  display: flex;
  width: 100%;
  max-width: 350px;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .earth-globe-wrapper {
    max-width: 550px;
  }
}

